<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!--<bean id="client" class="ua.epam.spring.core.beans.Client">-->
        <!--<constructor-arg value="1"/>-->
        <!--<constructor-arg value="John Smith"/>-->
    <!--</bean>-->

    <!--<bean id="client" class="ua.epam.spring.core.beans.Client">-->
        <!--<constructor-arg index="1" type="java.lang.String" value="John Smith"/>-->
        <!--<constructor-arg index="0" type="java.lang.String" value="1"/>-->
    <!--</bean>-->

    <!--<bean id="client" class="ua.epam.spring.core.beans.Client">-->
        <!--<constructor-arg name="fullName" value="John Smith"/>-->
        <!--<constructor-arg name="id" value="1"/>-->
    <!--</bean>    -->

    <bean id="client" class="ua.epam.spring.core.beans.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Vik"/>
    </bean>

    <bean id="eventLogger" class="ua.epam.spring.core.loggers.ConsoleEventLogger"/>
    <bean id="fileEventLogger" class="ua.epam.spring.core.loggers.FileEventLogger" init-method="init">
        <constructor-arg value="logs/log.txt"/>
    </bean>
    <bean id="cacheLogger" class="ua.epam.spring.core.loggers.CacheFileEventLogger" destroy-method="cleanUp">
        <constructor-arg value="logs/log.txt"/>
        <constructor-arg value="10"/>
    </bean>

    <!--<bean id="app" class="ua.epam.spring.core.App">-->
        <!--<constructor-arg ref="client"/>-->
        <!--<constructor-arg ref="eventLogger"/>-->
    <!--</bean>-->

    <bean id="app" class="ua.epam.spring.core.App">
        <constructor-arg ref="cacheLogger"/>
        <constructor-arg ref="client"/>
    </bean>

    <bean id="event" class="ua.epam.spring.core.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat"
          factory-method="getDateTimeInstance"/>

</beans>