<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd
 		http://www.springframework.org/schema/aop
 		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">


    <!--<bean id="client" class="ua.epam.spring.core.beans.Client">-->
        <!--<constructor-arg value="1"/>-->
        <!--<constructor-arg value="John Smith"/>-->
    <!--</bean>-->

    <!--<bean id="client" class="ua.epam.spring.core.beans.Client">-->
        <!--<constructor-arg index="1" type="java.lang.String" value="John Smith"/>-->
        <!--<constructor-arg index="0" type="java.lang.String" value="1"/>-->
    <!--</bean>-->

    <!--<bean id="client" class="ua.epam.spring.core.beans.Client">-->
        <!--<constructor-arg name="fullName" value="John Smith"/>-->
        <!--<constructor-arg name="id" value="1"/>-->
    <!--</bean>    -->

    <import resource="loggers.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        </property>
    </bean>

    <!--<bean id="client" class="ua.epam.spring.core.beans.Client"-->
          <!--p:greeting="${greeting}">-->
        <!--<constructor-arg index="0" value="${id}" />-->
        <!--<constructor-arg value="${name}" />-->
    <!--</bean>-->


    <!--<bean id="client" class="ua.epam.spring.core.beans.Client">-->
        <!--<constructor-arg>-->
            <!--<value>${id}</value>-->
        <!--</constructor-arg>-->
        <!--<constructor-arg value="${name}"/>-->
        <!--<property name="greeting" value="${greeting}"/>-->
    <!--</bean>-->

    <bean id="client" class="ua.epam.spring.core.beans.Client"
          c:id="${id}"  c:fullName="${name}" p:greeting="${greeting}">
    </bean>


    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger" />
        <entry key="ERROR" value-ref="combinedEventLogger" />
    </util:map>

    <!--<bean id="app" class="ua.epam.spring.core.App">-->
        <!--<constructor-arg ref="client"/>-->
        <!--<constructor-arg ref="eventLogger"/>-->
    <!--</bean>-->

    <!--<bean id="app" class="ua.epam.spring.core.App">-->
        <!--<constructor-arg ref="client"/>-->
        <!--<constructor-arg name="defaultLogger" ref="cacheLogger"/>-->
        <!--<constructor-arg>-->
            <!--&lt;!&ndash;<map key-type="ua.epam.spring.core.EventType" value-type="ua.epam.spring.core.EventLogger">&ndash;&gt;-->
            <!--<map>-->
                <!--<entry key="INFO" value-ref="consoleEventLogger"/>-->
                <!--<entry key="ERROR" value-ref="combinedEventLogger"/>-->
            <!--</map>-->
        <!--</constructor-arg>-->
    <!--</bean>-->

    <!--
    <bean id="app" class="ua.epam.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg name="defaultLogger" ref="cacheLogger"/>
        <constructor-arg ref="loggerMap"/>
    </bean>
    -->
    <!--
    <bean id="app" class="ua.epam.spring.core.App"
          c:client-ref="client"
          c:defaultLogger-ref="cacheLogger"
          c:loggers-ref="loggerMap">
    </bean>
    -->

    <bean id="app" class="ua.epam.spring.core.App"
          c:client-ref="client"
          c:defaultLogger="#{T(ua.epam.spring.core.Event).isDay() ? fileEventLogger : consoleEventLogger}"
          c:loggers-ref="loggerMap">
    </bean>

    <bean id="event" class="ua.epam.spring.core.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat"
          factory-method="getDateTimeInstance"/>

    <bean id="monitor" class="ua.epam.spring.core.util.Monitor"/>
    <bean id="awared" class="ua.epam.spring.core.util.AwareBean" init-method="init"/>


    <aop:aspectj-autoproxy/>

    <bean id="logAspect" class="ua.epam.spring.core.aop.LoggingAspect"/>
    <bean id="statisticsAspect" class="ua.epam.spring.core.aop.StatisticsAspect"/>
    <!---->
    <!--<aop:config>-->
        <!--<aop:aspect id="myAspect" ref="aBean">-->
            <!--<aop:pointcut id="consoleLogging"-->
                          <!--expression="execution(* *.logEvent(..)) &amp;&amp; within(*.Console*Logger)"/>-->
            <!--<aop:before pointcut-ref="consoleLogging" method="logBefore"/>-->

        <!--</aop:aspect>-->

    <!--</aop:config>-->


    <!--<bean id="aBean" class="..."/>-->


</beans>